{% extends "layouts/simple.html.twig" %}
{% block content %}
	<!-- registration-form -->
	<div class="registration-form">
		<div class="container">
			<div class="dreamcrub">
				<ul class="breadcrumbs">
					<li class="home">
						<a href="index.html" title="Go to Home Page">Home</a>&nbsp;
						<span>&gt;</span>
					</li>
					<li class="women">
						Not Found
					</li>
				</ul>
				<ul class="previous">
					<li><a href="/products">Browse all products</a></li>
				</ul>
				<div class="clearfix"></div>
			</div>

			<h2 style="text-align: center;">404: Not Found</h2>
			<hr>
			<div class="registration-grids">
				<div>
					<h1 style="text-align: center;">The resource you are looking for is not found at this URL.</h1>
				</div>
				<div class="reg-right">

				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
{% endblock %}
